/* Especificidad: 002 */
main > section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    justify-content: center;
    align-items: center;
    padding: 2rem; 
    margin: 0 auto;  
    width: 90%;    
}

/* Especificidad: 002 */
section > article {
    width: 20%;              
    aspect-ratio: 4 / 3;        
    background-color: #e49c00;    
    border-radius: 0.5rem;       
    text-align: center;          
    display: flex;               
    flex-direction: column;      
    justify-content: center;     
    align-items: center;          
    margin-bottom: 2rem;         
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;  
}

/* Especificidad: 012 */
section >article[data-state=flip] {
    transform: rotateY(180deg);
}

/* Especificidad: 003 */
section > article h3,
section > article img {
    margin: 0;
    width: 100%;                  
    height: 100%;                
    position: absolute;
    border-radius: 0.5rem;     
    background: #e49c00;
    color: #fff;
    backface-visibility: hidden;
}

/* Especificidad: 003 */
section > article h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Especificidad: 003 */
section > article img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    transform: rotateY(180deg);

}

/* Especificidad: 002 */
main > button{
    background-color: #0A5570;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 0.125rem; 
}

/* Especificidad: 012 */
main > button:hover{
    background-color: #050533;
    transform: scale(1.1);
}

/* Especificidad: 012 */
main > button::after{
    content: 'â“'; 
}

/* Especificidad: 012 */
main > aside[data-state="visible"]::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 999; 
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* Especificidad: 012 */
main > aside[data-state="visible"] > article {
    position: fixed;
    top: 20vh; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: white;
    border-radius: 1.5vw; 
    padding: 5vw;
    width: 50%; 
    height: auto;
    text-align: center;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

/* Especificidad: 014 */
main > aside[data-state="visible"] > article button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #941F14;
    color: white;
    cursor: pointer;
    border-radius: 0.3125rem; 
}

/* Especificidad: 024 */
main > aside[data-state="visible"] > article button:hover {
    background-color: #731412;
}